@import "../abstract/variables";
@import "../abstract/mixins";


// tools flexbox
.tools__container {
    display: flex;
    justify-content: space-between;
}

//general display 

.tools {
    &__title {
        text-align: center;
        margin: 14px 0 20px 0;
        font-family: $title;
        color: $gray;
    }
    &__container {
        font-family: $txt;
    }
    &__item{
        line-height: 30px;
        display: flex;
    }
    &__icon {
        width: 40px;
    }
    &__txt {
        display: inline-block;
        margin: 5px 10px;
        font-size: 12px;
        line-height: 40px;
    }
    &__frontend {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }
    &__backend {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10px;
    }
}