@import "../abstract/mixins";
@import "../abstract/variables";

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include tablet {
    flex-direction: row;
    height: 70vh;
  }
  &__main {
    background-color: $gray;
    order: 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      order: 0;
      height: 70vh;
      width: 80vw;
    }
  }
  &__side {
    height: 10vh;
    background-color: $dark-gray;
    @include tablet {
      height: 70vh;
      width: 20vw;
    }
  }
  &__title {
    font-size: 40px;
    color: $blue;
    font-family: $title;
    margin: 0 0 20px 0;
    text-align: left;
    @include tablet {
      font-size: 60px;
    }
    &--xxlspan {
      font-size: 50px;
      @include tablet {
        font-size: 80px;
      }
    }
    &--lspan {
      font-size: 46px;
      @include tablet {
        font-size: 66px;
      }
    }
  }
  &__txt {
    text-align: end;
    font-size: 14px;
    color: $white;
    font-family: $txt;
    @include tablet {
      font-size: 16px;
      max-width: 600px;
    }
    @include desktop {
      text-align: center;
      max-width: 800px;
    }
  }
}

.navbar {
  color: $white;
  height: 100%;
  &__list {
    height: 100%;
    font-family: $title;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 22px;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__item {
    margin: 2px 14px;
    &--proj {
      order: 1;
      @include tablet {
        order: 0;
        font-size: 20px;
      }
    }
    @include tablet {
      margin: 20px 20px;
    }
  }
}

// fixed nav

.fixednav {
  position: fixed;
  right: 0;
  top: 0;
  &--icon {
    width: 40px;
    margin: 20px;
  }
}