//colors

$blue: rgb(69, 140, 249);
$dark-gray: #333333;
$gray: #7E7E7E;
$medium-gray: #8C8C8C;
$light-gray: #d3d3d3;
$white: #F2F2F2;

//fonts

$subtitle: 'Crimson Text', serif;
$txt: 'Open Sans', sans-serif;
$title: 'Unica One', cursive;


